*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ------Variable Define------ */
:root {
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}
/* navigation-wrap */
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}
a:hover {
  color: var(--primary-color) !important;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: var(--secondary-color);
}
h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 3rem;
}

/* counter */
.counter-section {
  background-color: var(--primary-color);
  padding: 2.5rem 0;
}
.counter-section p {
  color: var(--white-color);
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
}

#story {
  background-image: url(https://imgs.search.brave.com/eqGzfstZiSumyJ5txnXcRu3yDV8k0hxydU6AG3nmVlE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS81Mi84/Lzc0NlF3WS5qcGc);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
/* button */
.btn-danger:hover {
  color: white !important;
}
.btn-outline-danger:hover {
  color: white !important;
}
.btn-primary:hover {
  color: white !important;
}

/* testimonial */
#testimoninal {
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
  background-image: url(https://imgs.search.brave.com/bxXt360kPAaAsxJ3zo9e8oibHk1boEhI3ccT4Q1pBbU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDk2/ODAyMTI2L3Bob3Rv/L2dyYXktY29uY3Jl/dGUtc21vb3RoLXdh/bGwtdGV4dHVyZS1i/YWNrZ3JvdW5kLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz0x/a2tvSTBlWTBlWU9F/QmZTSk8yMkI2R1p1/N1JidTlla184cnVo/dm5BdlRBPQ);
}
.section-header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 25px;
  color: #fff;
}
.section-header:after {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: #fff;
}
.section-header span {
  display: block;
  font-size: 15px;
  font-weight: 300;
}
.item {
  background: #fff;
  color: #111;
  padding: 15px;
  margin: 50px 15px;
}
.img-area {
  margin: 0 15px 15px 15px;
}
.img-area img {
  height: 200px;
  width: 200px;
}
.bio h4 {
  font-family: "Berkshire Swash", cursive;
}

/* subscribe */
.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
  --width-of-input: 300px;
}

.input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #ff6464 0%, #ffbf59 50%, #47c9ff 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}
